Parent_Directory = Path to  the directory containing the sub directories (each sub directory should contain pcap file and the csv files) "D:\\"
FPS = Frames per second
Filter = True or False
CloudComPy310_path = Path to the CloudComPy310 folder
Filter_script_path = Path to the filter.py file
Output_Directory = Path to the directory where the output files will be saved in kitti style "D:\\"